<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Allauth{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur notre site !</h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Se connecter</a></li>
                <li><a href="{% url 'signup' %}">S'inscrire</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mon Application</p>
    </footer>
</body>
</html>
