<!-- templates/profil.html -->


{% block content %}
    <main class="main-content">
      <h2>Offres</h2>
      <section class="dashboard-card">
        <h3>Offres disponibles :</h3>

          {% if offers %}
              <ul>
                  {% for offer in offers %}
                      <li>
                          <h2>{{ offer.title }}</h2>
                          <p>{{ offer.idproduct }} x{{offer.quantity}}</p>
                          <p>Prix : {{ offer.price }} €</p>

                          <!-- Lien vers la page de paiement pour CETTE offre -->
                          <a href="{% url 'add_to_cart' offer.idoffer %}" hx-get="{% url 'add_to_cart' offer.idoffer %}" hx-target="#content" hx-push-url="true">Acheter cette offre</a>


                      </li>
                  {% endfor %}
              </ul>
          {% else %}
              <p>Aucune offre disponible pour l'instant.</p>
          {% endif %}
      </section>
    </main>

{% endblock %}
