<!-- templates/profil.html -->


{% block content %}
    <main class="main-content">
      <h2>Profil</h2>
      <section class="dashboard-card">
        <h3>Informations du profil</h3>
        <ul>
          <li><strong>Nom :</strong> Philippe Martin</li>
          <li><strong>Email :</strong> philippe.martin@example.com</li>
          <li><strong>Company :</strong> LMN Solutions</li>
          <li><strong>Adresse :</strong> 456 Avenue des Technologies</li>
          <li><strong>Ville :</strong> Lyon</li>
          <li><strong>Pays :</strong> France</li>
        </ul>
        <button>Modifier</button>
      </section>
    </main>
{% endblock %}
